body {
    background-color: aqua;
}

.card-content {
    text-align: center;
    font-size: 1.5pc;
    background-color:#0d47a1;
}

.card {
    width: 120%;
    align-content: center;
    margin-left: -10%;
    box-shadow: 10px 10px 5px grey;
}

.container {
    align-content: center;
    margin: 0 auto;
    padding: 10px;
}

.nav-wrapper {
    background-color:#0d47a1;
    box-shadow: 5px 5px 3px grey;
}

.data{
    box-shadow: 5px 5px 3px grey;
}

#plum {
    height: 28%;
    width: 28%;
    margin-left: 70%;
}
#eyes {
    height: 8%;
    width: 8%;
    margin-left: 89%;
}